* {
    padding: 0;
    margin: 0;
    font-family: fantasy Critter;
    text-align: center;
}

form {
    padding: 50px 20px;
    background-color: rgb(255, 218, 185);
    margin: calc(25% + 100px);
    margin-top: 70px;
    padding-top: 30px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0)
}

h3 {
    font-family: ink;
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0)
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: auto;
    margin-top: 12px;
    font-size: 16px
}

input[type='submit'] {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: calc(80% - 20px);
    margin: 0 10%;
    margin-top: 22px;
    border: none;
}

.ok {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: rgb(250, 20, 135);
    color: rgb(250, 250, 250)
}

.bad {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: rgb(220, 20, 60);
    color: rgb(255, 255, 255)
}

.off {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255)
}

body {
    background-image: url(../Fondo.png);
    width: 100%;
    height: 100%vh;
    background-size: cover;
    color: rgb(255, 255, 255)
}

.mensaje {
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    padding: 6px;
    color: rgb(255, 0, 0);
}

h6 {
    text-align: center;
    padding: 12px;
    color: rgb(8, 6, 6);
    line-height: 20px;
}

.gabo {
    padding: 50px 20px;
    background-color: #381b1ba6;
    margin: calc(25% + 100px);
    margin-top: 70px;
    padding-top: 28px;
    margin-bottom: 30px;
    line-height: 20px;
}

header {
    width: 100%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    background-color: rgba(0, 0, 0, .3);
}

header h1 {
    margin-left: 5px;
    align-items: center;
    width: calc(20% - 100px);
    font-family: montez;
    font-size: 55px;
}

header a {
    margin-right: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    transition: all ease 300ms;
}

.login-box {
    background-image: url(../Fondo.png);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}